<!DOCTYPE html>
<html xmlns:th="http://www.thyemleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid" style="width: 1200px;">
        <div class="row">
            <div class="col-6 mx-auto">
                <div class="row">
                    <div class="col">
                        <h1>게시글 상세 내용</h1>
                    </div>
                </div>
                <div class="row">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
        </div>
        <div th:with="item=${map}">
            <b>제목:</b> <span th:text="${item.articleDto.title}"></span><br> 
            <div style="width: 20em; margin-top: 2em; margin-bottom: 2em;">
                <b>내용:</b> <span th:utext="${item.articleDto.content}"></span> 
            </div>
            <b>작성자:</b> <span th:text="${item.userDto.nickname}"></span><br> 
            <b>조회수:</b> <span th:text="${item.articleDto.readCount}"></span><br> 
            <b>작성일:</b> <span th:text="${#dates.format(item.articleDto.createdAt,'yyyy.MM.dd')}"></span><br> 
            
            <span th:if="${session.sessionUserInfo != null and session.sessionUserInfo.id == item.articleDto.userId}">
                <a th:href="@{./updateArticlePage(id=${item.articleDto.id})}">수정</a>
                <a th:href="@{./deleteArticleProcess(id=${item.articleDto.id})}">삭제</a>
            </span>
        </div>
        <a href="/board/mainPage">뒤로가기</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>