<!DOCTYPE html>
<html xmlns:th="http://www.thyemleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>게시글 상세 내용</h1>
        </div>
        <div th:with="item=${map}">
            <b>제목:</b> <span th:text="${item.articleDto.title}"></span><br> 
            <div style="width: 20em; margin-top: 2em; margin-bottom: 2em;">
                <b>내용:</b> <span th:text="${item.articleDto.content}"></span> 
            </div>
            <b>작성자:</b> <span th:text="${item.userDto.nickname}"></span><br> 
            <b>조회수:</b> <span th:text="${item.articleDto.readCount}"></span><br> 
            <b>작성일:</b> <span th:text="${#dates.format(item.articleDto.createdAt,'yyyy.MM.dd')}"></span><br> 
            
            <span th:if="${session.sessionUserInfo != null and session.sessionUserInfo.id == item.articleDto.userId}">
                <a th:href="@{./updateArticlePage(id=${item.articleDto.id})}">수정</a>
                <a th:href="@{./deleteArticleProcess(id=${item.articleDto.id})}">삭제</a>
            </span>
        </div>
        <a href="/board/mainPage">뒤로가기</a>
    </div>
</body>
</html>