<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/public/styles.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div th:replace="~{common/nav::topNavi}"></div>
    <div class="container-fluid" style="width: 1200px;">
        <div class="row mt-5">
            <div class="col">
                <div class="row border-bottom border-dark text-center">
                    <div class="col-1">번호</div>
                    <div class="col">제목</div>
                    <div class="col-2">작성자</div>
                    <div class="col-2">날짜</div>
                </div>
                <div class="row border-bottom" th:each="list, a : ${getUserInfoDto.articleList}">
                    <div class="col-1" th:text="${a.index+1}"></div>
                    <div class="col" th:text="${list.title}"></div>
                    <div class="col-2 text-center" th:text="${getUserInfoDto.nickname}"></div>
                    <div class="col-2 text-center" th:text="${#dates.format(list.createdAt,'yyyy-MM-dd')}"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>