<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.ja.finalproject.board.mapper.BoardMapper">
    
    <insert id="createBoard">
        INSERT INTO fp_article (user_id, title, content) 
        VALUES(#{userId}, #{title}, #{content});
    </insert>

    <select id="findAll" resultType="com.ja.finalproject.dto.articleDto">
        SELECT  (b.id) AS id,
                (b.user_id) AS userId,
                (b.title) AS title,
                (b.content) AS content,
                (b.read_count) AS readCount,
                DATE_FORMAT(b.created_at,'%Y-%m-%d') AS createdAt
        FROM    fp_article b
        ORDER BY id DESC
    </select>
   
    <select id="selectFindByNoContent" parameterType="int" resultType="com.ja.finalproject.dto.articleDto">
        SELECT  (b.id) AS id,
                (b.user_id) AS userId,
                (b.title) AS title,
                (b.content) AS content,
                (b.read_count) AS readCount,
                DATE_FORMAT(b.created_at,'%Y-%m-%d') AS createdAt
        FROM    fp_article b
        WHERE   b.id = #{id}
    </select>

    <update id="increaseReadCount" parameterType="int">
        UPDATE fp_article SET read_count = read_count +1 WHERE id = #{no};
    </update>
</mapper>