<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ja.study.study1029.user.mapper.UserSqlMapper">
    <insert id="createUser">
        <selectKey resultType="int" keyProperty="id"  order="AFTER">
          SELECT MAX(fu.id) FROM fp_user fu
        </selectKey>
        INSERT INTO fp_user (id, user_id, password, nickname, email, gender, birth, phone)
        VALUES (#{id}, #{userId},#{password},#{nickname},#{email},#{gender},#{birth},#{phone})
    </insert>

    <!-- 로그인 id, password 정보 확인 -->
    <select id="findByUserIdAndPassword" resultType="com.ja.study.study1029.user.dto.UserDto">
        SELECT  (A.id) AS id,
                (A.user_id) AS userId,
                (A.password) AS password,
                (A.nickname) AS nickname,
                (A.email) AS email,
                (A.gender) AS gender,
                (A.birth) AS birth,
                (A.phone) AS phone,
                (A.created_at) AS createdAt
        FROM    fp_user A
        WHERE   A.user_id = #{userId}
        AND     A.password = #{password}
    </select>

    <!-- 게시글 id 정보  -->
    <select id="findById" resultType="com.ja.study.study1029.user.dto.UserDto">
        SELECT  (A.id) AS id,
                (A.user_id) AS userId,
                (A.password) AS password,
                (A.nickname) AS nickname,
                (A.email) AS email,
                (A.gender) AS gender,
                (A.birth) AS birth,
                (A.phone) AS phone,
                (A.created_at) AS createdAt
        FROM    fp_user A
        WHERE   A.id = #{id}
    </select>

    <select id="findByHobbyCategoryAll" resultType="com.ja.study.study1029.user.dto.HobbyCategoryDto">
        SELECT  (A.id) AS id,
                (A.hobby_name) AS hobbyName,
                (A.created_at) AS createdAt
        FROM    fp_hobby_category A
    </select>

    <insert id="createUserHobby">
      INSERT INTO fp_user_hobby (user_id, hobby_id)
      VALUES (#{userId},#{hobbyId})
    </insert>
</mapper>
