<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ja.finalproject.user.mapper.UserMapper">
    <insert id="createUser" parameterType="com.ja.finalproject.dto.UserDto">
        INSERT INTO fp_user (id, user_id, password, nickname, email, gender, birth, phone)
        VALUES (#{id}, #{userId},#{password},#{nickname},#{email},#{gender},#{birth},#{phone})
    </insert>

    <select>
    </select>
</mapper>